{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if recommendation %}



<h2>Recommendation for {{ handle }}</h2>

<p>We recommend to solve these problems :

<a href="{% url 'renew_recommendation' user.pk %}" class="btn btn-success" type="button" style="float: right"a>
  Renew recommendation
</a>

</p>


<div class="panel panel-info">
  <table class="table tabled-condensed table-hover">
    <tr><td>Name</td><td>Tags</td></tr>
    {% for pb, pburl, tags in problems %}
    <tr>
	<td style=
	    "vertical-align: middle;
	     padding-top: 6px;
	     padding-bottom: 6px;
	     overflow: hidden;
	     white-space: nowrap">
		<a href="{{ pburl }}">{{ pb }}</a>
	</td>
	<td style=
	    "vertical-align: middle;
	     padding-top: 6px;
	     padding-bottom: 6px">
	    {% for tag in tags %}
	        <div style=
		    "display: inline-block;
		     text-align: center;
		     padding: 0px 3px 0px 3px;
		     margin-top: 1px;
		     margin-bottom: 1px;
		     border:1px solid;
		     border-color:rgb(185,185,185);
		     border-radius:5px;
		     background-color:#f0f0f0">
                    {{ tag.name }} 
   		</div>
	    {% endfor %}
	</td></tr>
    {% endfor %}
  </table>
</div>   

{% else %}

<p>Recommendation failed.</p>

{% endif %}
<p></p>
<p>Click <a href="{% url 'index' %}">here</a> to come back to home page.</p>

{% endblock %}
