{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load icons %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load translation #}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>{% block title %}Codeflix !!{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav navbar-right">
	<li>
	  {% include 'buttons/setlang.html' %}
	</li>
      </ul>
      <ul class="navbar-nav ml-auto"
	  <li class="nav-item">
	    {% if request.user.is_authenticated %}
	    {% if request.user.is_staff %}
	  <li class="nav-item">
	    <a class="nav-link" onclick="anim()" href="{% url 'dump_graph' %}"> {% trans "Dump Graph" %} </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" onclick="anim()" href="{% url 'load_graph' %}"> {% trans "Reload Graph" %} </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'admin:index' %}"> {% trans "Administration" %} </a>
	  </li>
	  {% endif %}
	  {% if cfuser %}
	  <li class="nav-item">
	    <a class="nav-link" onclick="anim()" href="{% url 'recommendation' user.pk %}"> {% trans "Recommendation" %} </a>
	  </li>
	  {% endif %}
          <li class="nav-item">
	    <a class="nav-link" href="{% url 'index' %}"> {% trans "Welcome" %} {{ user.get_username }} </a>
	  </li>
	  <a class="nav-link" href="{% url 'logout' %}">{% icon "sign-out-alt"%} {% trans "Log Out" %} </a>
	  {% else %}
	  <a class="nav-link" href="{% url 'signup' %}">{% icon "user-plus" %} {% trans "Sign Up" %} </a>
	  <a class="nav-link" href="{% url 'login' %}">{% icon "sign-in-alt" %} {% trans "Log In" %} </a>
	  {% endif %}
	  </li>
      </ul>
    </nav>
 </br>
 <div class="container">
   {% block content %}
   {% endblock %}
 </div>
 <canvas id="gears" width="240" height="220" class="loader-wrapper"
	 style="position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -110px;
		margin-left: -120px;
		display:none;"
}></canvas>
</body>

<script>
  function anim(){
      $(".loader-wrapper").fadeIn();
  };
</script>

<script src='{% static "codeflix/gear.js" %}'></script>

<script>
  var offset = 0.0;
  function draw() {
      StyleKitName.clearCanvas('gears');
      StyleKitName.drawGears('gears', offset);
  }
  var tid = setInterval(loop, 25);
  var canvas = document.getElementById("gears");
  var context = canvas.getContext("2d");
  function loop() {
      offset += 1;
      draw();
  }
</script>


</html>
